page-menu-popoverpage {
    max-height: 50%;
    .bottom-menu-title{
        font-size: 10px;
        color: #333;
        .label-md, .label-ios-md{
            margin:0px 40px 0px 0;
        }
    
     }
}
